*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'cinzel',serif;
}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    z-index: 9;
    justify-content: center;
    top: 0;
    left: 0;
    transition: 0.5s;
    position: fixed;
}
.navbar.bg{
    background-color: #fff;
}
.links-container{
    display: flex;
    align-items: center;
    list-style: none;
}
.link-items{
    margin: 10px;
}
.link{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    transition: .5s;
    opacity: 0.7;
}
.navbar.bg .link{
    color: #000;
    opacity: 0.5;
   
}
.link.active,.link:hover,.navbar.bg .link:hover,.navbar.bg .link.active{
    opacity: 1;
}
.user-interaction{
    display: flex;
    position: absolute;
    transform: translateY(-50%);
    right: 5vw;
    top: 50%;
}
.cart,.user{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10px;
    cursor: pointer;

}
.cart-item-count{
    font-family: 'lato',sans-serif;
    color: #d5be8b;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
    background: #190c05;
    position: absolute;
    bottom: -12px;
    left: -12px;
}
.cart-icon,.user-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-section{
    width: 100%;
    height: 100vh;
    background-image: url(../img/header.png);
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.header-heading{
    color: #fff;
    font-size: 100px;
    text-transform: capitalize;
}
.header-heading span{
    color: #d5be8b;
}
.best-selling-section{
    position: relative;
    padding: 60px 5vw;
}
.selling-section{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.product-container{
    display: flex;
    justify-content: space-between;
}
.product-card{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 15px solid #d5be8b;
    position: relative;
    background: #d5be8b;
    
}
.product-card:nth-child(even){
    border-color: #190c05;
    background-color: #190c05;
}
.product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.product-name{
    position: absolute;
    color: #fff;
    text-transform: capitalize;
    font-family: 'lato',sans-serif;
    font-size: 20px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}
.product-card:hover .product-name{
    opacity: 1;
}
.product-card:hover .product-image{
    opacity: 0.5;
}
.mid-section{
    width: 100%;
    height: 800px;
    padding: 40px 5vw;
}
.section-item-container{
    width: 100%;
    height: 100%;
    position: relative;
    padding:20px;
}
.section-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;

}
.section-info{
    width: 50%;
    height: 100%;
    background: #fff;
    display: block;
    margin-left: auto;
    padding: 50px;
    text-align: center;
}
.title{
    font-size: 60px;
    line-height: 100px;
}
.title span{
    color: #d5be8b;
}
.info{
    font-family: 'lato',sans-serif;
    font-size: 25px;
    line-height: 45px;
    margin-top: 30px;
    opacity: 0.5;
}
.image-mid-section{
    width: 100%;
    height: 600px;
    padding: 50px 5vw;

}
.image-collage{
    width: 100%;
    height: 100%;
    background: url(../img/bg-1.png);
    background-size: cover;
}
.image-collection{
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    background: #fff;
    margin: auto;
}
.collage-img{
    transition: 0.5s;
    position: absolute;
    object-fit: cover;
}
.collage-img:nth-child(1){
    width: 350px;
    height: 350px;
    top: 20px;
    left: 40px;
}
.collage-img:nth-child(2){
    width: 250px;
    height: 250px;
    top: 200px;
    left: 200px;
}
.collage-img:nth-child(3){
    width: 250px;
    height: 250px;
    top: 100px;
    left: 350px;
}
.collage-img:hover{
    transform: translateY(-10px);
}
.review-section{
    padding: 50px 5vw;


}
.review-title{
    font-size: 40px;
}
.review-title span{
    color: #d5be8b;

}
.review-container{
    margin: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.review-card{
    width: 250px;
    height: auto;
    font-family: 'lato',sans-serif;
}
.user-dp{
    width: 100px;
    height: 100px;  
    border-radius: 50px;
    position: relative;
}
.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.user-dp::before{
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 6px solid #000;
    border-radius: 50%;
}
.user-dp::after{
    content: attr(data-rating);
    position: absolute;
    bottom: 0px;
    right: -20px;
    padding: 5px 20px;
    border-radius: 20px;
    background: #d5be8b;
}   
.section-title{
    font-size: 20px;
    line-height: 25px;
    margin: 30px 0px;
    text-transform: capitalize;
}
.review{
    opacity: 0.7;
}
.end-section{
    padding: 50px 5vw;
}
.end-section .section-item-container{
    height: 800px;
}
.end-section .section-info{
    margin: 0;
}
.end-section .title{
    font-size: 100px;
    line-height: 150px;
    margin: 50px;
}
footer{
    font-family: 'lato',sans-serif;
    color: #d5be8b;
    background: #190c05;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}